/projects/unix/_obj*/
/projects/unix/libmupen64plus*.so*
/projects/msvc/x64
/projects/msvc/Win32
/projects/msvc/*.user
/src/asm_defines/asm_defines_gas.h
/src/asm_defines/asm_defines_nasm.h
.vs
.vscode
